.delete {
  padding: 8px 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 15px;
}
.edit {
  padding: 8px 8px;
  background-color: rgb(53, 87, 173);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}
